@model RankPrediction_Web.Models.PredictionDataInputViewModel

@{
    ViewData["Title"] = "戦績データ入力";
}

<h1>戦績データ入力</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Input">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SelectedSeasonId" class="control-label"></label>
                @Html.DropDownListFor(
                    model => model.SelectedSeasonId,
                    new SelectList(Model.SeasonOptions, "SeasonId", "SeasonName1"),
                    "",
                    new { @class = "form-control" }
                )
                @Html.ValidationMessageFor(model => model.SelectedSeasonId, null, new { @class = "text-danger" })

            </div>
            <div class="form-group">
                <label asp-for="SelectedRankId" class="control-label"></label>
                @Html.DropDownListFor(
                    model => model.SelectedRankId,
                    new SelectList(Model.RankOptions, "RankId", "RankName"),
                    "",
                    new { @class = "form-control" }
                )
                @Html.ValidationMessageFor(model => model.SelectedRankId, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label asp-for="KillDeathRatio" class="control-label"></label>
                @Html.TextBoxFor(
                   model => model.KillDeathRatio,
                   new { @class = "form-control" }
               )
                @Html.ValidationMessageFor(model => model.KillDeathRatio, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label asp-for="AverageDamage" class="control-label"></label>
                @Html.TextBoxFor(model => model.AverageDamage, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AverageDamage, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label asp-for="MatchCounts" class="control-label"></label>
                @Html.TextBoxFor(model => model.MatchCounts, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MatchCounts, null, new { @class = "text-danger" })
            </div>
            <div class="form-group form-check">
                <label class="control-label">
                    @Html.CheckBoxFor(model => model.IsParty, new { @class = "form-check-input" })
                    @Html.DisplayNameFor(model => model.IsParty)
                </label>
                @Html.ValidationMessageFor(model => model.IsParty, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="データ作成" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="ApexRank" asp-action="Index">一覧に戻る</a>
</div>

