@model RankPrediction_Web.Models.PredictionDataInputViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>戦績データ入力</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SelectedSeasonId" class="control-label"></label>
                @Html.DropDownListFor(
                    model => model.SelectedSeasonId,
                    new SelectList(Model.SeasonOptions, "SeasonId", "SeasonName1"),
                    "",
                    new { @class = "form-control" }
                )
                @Html.ValidationMessageFor(model => model.SelectedSeasonId)
            </div>
            <div class="form-group">
                <label asp-for="SelectedRankId" class="control-label"></label>
                @Html.DropDownListFor(
                    model => model.SelectedRankId,
                    new SelectList(Model.RankOptions, "RankId", "RankName"),
                    "",
                    new { @class = "form-control" }
                )
                @Html.ValidationMessageFor(model => model.SelectedRankId)
            </div>
            <div class="form-group">
                <label asp-for="KillDeathRatio" class="control-label"></label>
                @Html.TextBoxFor(
                   model => model.KillDeathRatio,
                   new { @class = "form-control" }
               )
                @Html.ValidationMessageFor(model => model.KillDeathRatio)
            </div>
            <div class="form-group">
                <label asp-for="AverageDamage" class="control-label"></label>
                @Html.TextBoxFor(model => model.AverageDamage, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AverageDamage)
            </div>
            <div class="form-group">
                <label asp-for="MatchCounts" class="control-label"></label>
                @Html.TextBoxFor(model => model.MatchCounts, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MatchCounts)
            </div>
            <div class="form-group">
                <label asp-for="IsParty" class="control-label"></label>
                @Html.CheckBoxFor(model => model.IsParty,new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.IsParty)
            </div>
            @*<div class="form-group">
            <label asp-for="RankId" class="control-label"></label>
            <select asp-for="RankId" class ="form-control" asp-items="ViewBag.RankId"></select>
        </div>
        <div class="form-group">
            <label asp-for="KillDeathRatio" class="control-label"></label>
            <input asp-for="KillDeathRatio" class="form-control" />
            <span asp-validation-for="KillDeathRatio" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="AverageDamage" class="control-label"></label>
            <input asp-for="AverageDamage" class="form-control" />
            <span asp-validation-for="AverageDamage" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MatchCounts" class="control-label"></label>
            <input asp-for="MatchCounts" class="form-control" />
            <span asp-validation-for="MatchCounts" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="IsParty" /> @Html.DisplayNameFor(model => model.IsParty)
            </label>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

