@model RankPrediction_Web.Models.PredictionDatum

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PredictionDatum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KillDeathRatio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KillDeathRatio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AverageDamage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AverageDamage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatchCounts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatchCounts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsParty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsParty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rank.RankName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Season)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Season.SeasonName1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
