@using RankPrediction_Web.Language;

@model RankPrediction_Web.Models.ViewModels.LayoutViewModel

<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta charset="utf-8" />
    <meta name="google-site-verification" content="qJWfQ_XIhmBLl3SNmlQbI6QVgPaiakbzSwczPB8o7qk" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:title" content="@I18n.SITE_TITLE" />
    <meta property="og:url" content="https://apexrankprediction.azurewebsites.net" />
    <meta property="og:image" content="https://apexrankprediction.azurewebsites.net/sozai/EtXheooUUA8CO1c.png" />
    <meta property="og:description" content="Apexの実力をAIで診断してみよう！" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Apex Legends 実力診断" />
    <meta name="twitter:card" content="summary" />

    <title>@ViewData["Title"] - @I18n.SITE_TITLE</title>
    <meta name="description" content="Apexの実力をAIが診断。キルレと平均ダメージを入力して適正ランクを推定。野良募集の目安にも。">
    <script data-ad-client="ca-pub-9870287938454568" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- nend overlay. 2lines -->
    <script type="text/javascript">
        var nend_params = { "media": 69303, "site": 350782, "spot": 1046638, "type": 2, "oriented": 1 };
    </script>
    <script type="text/javascript" src="https://js1.nend.net/js/nendAdLoader.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q2GK4JQ129"></script>
    <script>window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-Q2GK4JQ129');</script>
    <script type="text/javascript" src="~/js/toggleNativeShareButton.js" async></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/buttons.css" />
    <link rel="stylesheet" href="~/css/loading.css" />
    <link rel="stylesheet" href="~/css/ibm-plex-sans-jp.css">
    <link rel="stylesheet" href="~/css/ibm-plex-sans-jp.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    @*chart.js読み込み*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"
            integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <style>
        body {
            font-family: 'IBM Plex Sans JP'
        }
    </style>
    @RenderSection("css", required: false)
</head>
<body ontouchstart="">
    <div id="content-wrap">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light nav-bg border-bottom box-shadow mb-0">
                <div class="container">
                    <h3><a class="navbar-brand" id="header_txt" asp-area="" asp-controller="ApexRank" asp-action="Index" onClickLoad>Apex Legends 実力診断</a></h3>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link font-weight-normal text-white-50" asp-area="" asp-controller="ApexRank" asp-action="Index">Top</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>
        </header>



        <div class="container" id="content-main">
            @RenderSection("bodycontainer", required: false)
            <main role="main" class="pb-3 bg-main">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top modal-footer text-muted footer">
            <div class="container">
                @*&copy; 2021 - Apexランク予測*@
                @await Html.PartialAsync("_SNS", Model)
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/loading.js" asp-append-version="true"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
